# Because OS X is a fail
.DS_Store

# Composer autoload files
app/vendor/

# Config files with Steam API key and the key in Redis to use
app/config.php

# Redis
dump.rdb

# Node installed things
node_modules/

# Completed front-end files
public/js/
public/css/
