@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "lib/normalize";

$background : #F0F0F0;
$secondarybg: #E9EFF2;
$accent     : #D9D9D9;
$heading    : #213D56;
$text       : #556270;

body {
	background-color: $background;

	font-family: 'Open Sans', sans-serif;
	color: $text;

	line-height: 2em;

	text-align: center;

	border-top: 3px solid $accent;
}

.container {
	width: 740px;

	margin: 0 auto;
}

form {
	white-space: nowrap;
}

h1 {
	color: $heading;

	font-size: 2.25em;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

a {
	color: $heading;
}

input {
	margin: 0px;

	font-size: 1.25em;

	border: 1px solid $accent;

	background: white;

	&[type="text"] {
		width: 85%;

		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;

		padding: 8px 12px;
	}

	&[type="submit"] {
		width: 15%;

		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;

		border-left: 0px;

		padding: 8px 0px;

		&:hover, &:active {
			background: $secondarybg;
		}
	}
}

#result {
	display: none;
}

table {
	max-width: 736px;

	margin: 1em auto 0 auto;
}

td {
	width: 184px;
	height: 69px;
}

.tile {
	display: table;

	height: 100%;
	width: 184px;
	max-width: 184px;
}

.overlay {
	display: table-cell;

	padding: 0 1em;

	font-size: .85em;
	line-height: 1.2em;

	background: rgba(0, 0, 0, .75);
	color: white;

	max-width: 184px;

	vertical-align: middle;

	word-wrap: break-word;
}
